
h1 {
	font-size: 3em;
	color: rgba(255, 255, 255, .8);
	margin: 0px 0px 20px 0px;
}

.item-login {
	font-size: 1.2em;
	color: rgba(255, 255, 255, .8);
	background: rgba(255, 255, 255, .5);
	margin: 1px auto 20px;
	width: 90%;
	border: 3px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
}

.button-login {
	font-size: 1.1em;
	color: rgba(255, 255, 255, .8);
	margin: 5px auto;
	width: 90%;
	border: 3px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
}

.grid-login {
	margin-top: 20%;
}

.icon-login {
	height: 25%;
	margin: 30px auto;
	display: block;
}