<ion-header>

  <ion-navbar>
    <ion-title>Submit your receipt</ion-title>
  </ion-navbar> 

</ion-header>

<!-- fit into one screen -->
<ion-content class="myBackgroundColor">

  <!-- Step 1. -->
  <ion-card *ngIf="currentStep === 1" >

    <!-- Enter storename and search -->
    <ion-item> 
      <ion-label stacked>Enter store name below </ion-label>
      <ion-input [(ngModel)]="storename" (focus)="showHisList($event)" (input)="getStores($event)" placeholder="e.g. Three inc."></ion-input>
    </ion-item>

    <!-- Display search result -->
    <ion-list class="store-list" *ngIf="showList && storename!='' "> 
      <ion-item (click)="addStore(store)" *ngFor="let store of storeList">  
          {{store.name}},{{store.town}} 
      </ion-item>
    </ion-list>
    
    <!-- Display enter address box -->
    <ion-list *ngIf="showAddStore || storeaddress!=''">
      <ion-item>
          <ion-label stacked> Wrong address? Enter Town below </ion-label>
          <ion-input [(ngModel)]="organisationTown"> </ion-input>
      </ion-item>
    </ion-list>
    
    <!-- Display history input -->
    <ion-list class="history-list" *ngIf="showHistoryList"> 
      <ion-item (click)="addStore(store)" *ngFor="let store of historyStoreList">  
          {{store.name}},{{store.town}} 
      </ion-item>
    </ion-list>

    <!-- move onto next step -->
    <ion-item>  
    <button ion-button full (click)="nextStep()"> Next </button>
    </ion-item>
  </ion-card>

  <!-- folded step 1. -->
  <ion-card padding (click)="goToStep(1)" *ngIf="currentStep != 1">  
    <ion-item>
      <ion-label *ngIf="storename==='' || storeaddress===''">Step 1. Enter store details below </ion-label>
      <ion-label *ngIf="storename!='' && storeaddress!=''">{{storename}} <br> {{storeaddress}}</ion-label>
      <ion-icon item-right name="arrow-dropdown"></ion-icon>
    </ion-item>


  </ion-card>


  <!-- Step 2. -->
  <ion-card *ngIf="currentStep === 2">
    <!-- Enter amount spent-->
    <ion-item> 
      <ion-label stacked>Enter amount spent below(£)</ion-label>
      <ion-input type="number" [(ngModel)]="amount" step="0.01" placeholder="e.g. 5.00"></ion-input>
    </ion-item>
    <!-- move onto next -->
    <ion-item>  
      <button ion-button full (click)="nextStep()"> Next </button>
    </ion-item>
  </ion-card>

  <!-- Folded step 2. -->
  <ion-card padding (click)="goToStep(2)" *ngIf="currentStep != 2">  
    <ion-item>  
      <ion-label *ngIf="amount===null" >Step 2. Enter amount spent</ion-label>
      <ion-label *ngIf="amount!=null">£{{amount}}</ion-label>
      <ion-icon item-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </ion-card>

  <!-- Step 3. -->
  <ion-card *ngIf="currentStep === 3">  
    <ion-item> 
      <div class="myLabel">Press the button to add a receipt photo </div>
      <!-- Switch between different buttons, display add receipt or retake button -->
      <button padding class="camBtn" [hidden]="lastImage !== null" ion-button color="light" large full (click)="uploadImage()" >
        <ion-icon ios="ios-camera" md="md-camera">  Add receipt photo </ion-icon>
        </button>
      <button padding class="camBtn" [hidden]="lastImage === null" ion-button color="light" large full (click)="uploadImage()" >
        <ion-icon ios="ios-camera" md="md-camera"> Retake</ion-icon>
        </button>
      <!-- Switch end -->
    </ion-item>

    <!-- Display taken image -->
    <ion-item>  
      <ion-card [hidden]="lastImage === null" style="width: 30%; height:30%"  >
        <img src={{pathForImage(lastImage)}} >
      </ion-card>
    </ion-item>

    <ion-item>  
      <button ion-button full (click)="nextStep()"> Next </button>
    </ion-item>
  </ion-card>

  <!-- folded step 3 -->
  <ion-card padding (click)="goToStep(3)" *ngIf="currentStep != 3">  
    <ion-item >  
        <ion-label *ngIf="lastImage === null" >Step 3. Add a receipt photo</ion-label>
        <ion-label *ngIf="lastImage != null">{{lastImage}}</ion-label>
        <ion-icon item-right name="arrow-dropdown"></ion-icon>
    </ion-item>
  </ion-card>

  <div padding>
    <button class="btnColor" ion-button color="primary" large [disabled]="!submitReceipt" (click) ="postImage()" > Submit</button>
  </div>


  <!-- Display the list of pending receipt -->
<!--  <ion-card>    
      <div class="cardHeader"> Pending receipt </div>
      <div class="cardContent">   
        <div class="cardItem" *ngFor="let receipt of receiptList">  
          <div class="cardItemHeader"> {{receipt.storename}} 
            <span class="cardItemHeaderRight"> £{{receipt.amount}} </span>
          </div>
          <div class="cardItemContent"> {{receipt.fullAddress}} </div>
        </div>
      </div>
</ion-card> -->
   
</ion-content>
