	<ion-header>
		<ion-toolbar color="header">
			<button ion-button menuToggle >
				<ion-icon item-right name='menu'></ion-icon>
			</button>
			<ion-title>
				Receipts
			</ion-title>
		</ion-toolbar>
	</ion-header>


<!-- fit into one screen -->
<ion-content>

  <!-- Step 1. -->
  <ion-card *ngIf="currentStep === 1" >

    <!-- Enter storename and search -->
    <ion-item>
      <ion-label stacked><span class="labelreceipt">Enterb the store name:</span></ion-label>
      <ion-input [(ngModel)]="submitOrg.name" (input)="organisationSearch($event)" (ngModelChange)="step1Validate()" placeholder="Name of Company"></ion-input>
    </ion-item>

    <!-- Display search result -->
    <ion-list class="store-list" *ngIf="storeList != null">
      <ion-item (click)="addStore(store)" *ngFor="let store of storeList">
        <!-- TODO Make this look better -->
        <span class="address-store">{{store.name}},</span><br />
		<span class="address-street">{{store.street_name}},</span><br />
		<span class="address-town">{{ store.town }}, {{ store.postcode }}</span>
      </ion-item>
    </ion-list>

    <!-- Display enter address box -->
    <ion-list *ngIf="showAddStore">
      <ion-item>
        <ion-label stacked>Street Address</ion-label>
        <ion-input [(ngModel)]="submitOrg.street_name" (ngModelChange)="step1Validate()" placeholder="Which Street?"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Town*</ion-label>
          <ion-input [(ngModel)]="submitOrg.town" (ngModelChange)="step1Validate()" placeholder="Which Town"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Postcode</ion-label>
          <ion-input [(ngModel)]="submitOrg.postcode" (ngModelChange)="step1Validate()" placeholder="Postcode if Known"></ion-input>
      </ion-item>
    </ion-list>

    <!-- move onto next step -->
		<ion-item>
		<span class="float-right">
			<button [disabled]="step1Invalid" ion-button icon-right color="button-blue" (click)="nextStep()">
				Next
				<ion-icon name="arrow-dropright"></ion-icon>
			</button>
		</span>
    </ion-item>
  </ion-card>

  <!-- Step 2. -->
  <ion-card class="card-2" *ngIf="currentStep === 2">
    <!-- Enter amount spent-->
    <ion-item>
      <ion-label stacked>Enter the amount spent below</ion-label>
      <ion-input type="number" [(ngModel)]="amount" (ngModelChange)="step2Validate()" step="0.01" placeholder="Numbers Only"></ion-input>
    </ion-item>

		<ion-item>
			<ion-label stacked>Time of Purchase (click next if now)</ion-label>
			<ion-datetime displayFormat="HH:mm DD/MM/YYYY" [min]="minDate" [(ngModel)]="myDate"></ion-datetime>
		</ion-item>
    <!-- move onto next -->
    <ion-item>
			<span class="float-left">
				<button ion-button icon-right color="button-blue" (click)="previousStep()">
					<ion-icon name="arrow-dropleft"></ion-icon>
					&nbsp; Back
				</button>
			</span>
			<span class="float-right">
				<button [disabled]="step2Invalid" ion-button icon-right color="button-blue" (click)="nextStep()">
					Next
					<ion-icon name="arrow-dropright"></ion-icon>
				</button>
			</span>
    </ion-item>
  </ion-card>

  <!-- Step 3. -->
  <ion-card *ngIf="currentStep === 3">
    <ion-item>
      <div class="myLabel">Submit Receipt Photo</div>
      <!-- Switch between different buttons, display add receipt or retake button -->
      <button padding class="camBtn" [hidden]="lastImage !== null" ion-button color="light" large full (click)="uploadImage()" >
        <ion-icon ios="ios-camera" md="md-camera"> Add receipt photo</ion-icon>
      </button>
      <button padding class="camBtn" [hidden]="lastImage === null" ion-button color="light" large full (click)="uploadImage()" >
        <ion-icon ios="ios-camera" md="md-camera">Retake</ion-icon>
      </button>
      <!-- Switch end -->
    </ion-item>

    <!-- Display taken image -->
    <ion-item>
      <ion-card [hidden]="lastImage === null" style="width: 30%; height:30%"  >
        <img src={{pathForImage(lastImage)}} >
      </ion-card>
    </ion-item>

		<ion-item>
		<span class="float-center">
			<button ion-button icon-right color="button-blue" (click)="previousStep()">
				<ion-icon name="arrow-dropleft"></ion-icon>
				&nbsp; Back
			</button>
		</span>
    </ion-item>
  </ion-card>

	<div padding class="pearUpCtrl">
		<div class="boxforbutton">
			<button ion-button [disabled]="!submitReceipt" (click) ="postImage()" >
				submit
			</button>
		</div>
	</div>

</ion-content>
