page-receipt {

    ion-input{
        font-size: 1.2em;
    }
	
	ion-label, .labelreceipt {
		color: rgba(39, 73, 100, 1);
		font-size: 1.2em;
		font-weight: 500;
	}
	
	.card-md {
		border: 1pt solid rgba(255, 255, 255, .6);
		background-color: rgba(255, 255, 255, .2);
		border-radius: 10px;
	}
	
	.cardContent, .item-md {
		background-color: rgba(255, 255, 255, 0);
	}
	

    .cardContent{
      background-color: none;
    }

    .cardItem{

      .cardItemHeader{
        background-color: red;
        color:black; 
        font-size: 1.3em;
        padding: 5px;
      }

      .cardItemHeaderRight{
        float: right;
        color:black;
      }

      .cardItemContent{
        background-color: red;
        color:darkgray;
        font-size: 1.0em; 
        padding:5px; 
      }
      border-bottom: 1px solid lightgray; 

    }

    .btnColor{
        color:white;
        font-size: 1.5em; 
        width:100%;
    }
	
	.pearUpCtrl{
	
		width: 100%;
		background: none;
		padding: 0px;

		.boxforbutton{
			margin: 0px auto;
			width: 8em;
			background: none;
		}
		
		button{
			z-index: 99;
			background-color: #f5f5f5;
			color: #666;
			border: 2px solid #3399ff;
			width: 5.5em;
			height: 5.5em;
			border-radius: 100%;
			text-transform: small-caps;
			font-size: 1.4em;
			line-height: 1.2em;
			align-items: center;
		}
	}
	
    .receiptCtrl{
        margin-top: 20%;
    }

}
