page-index {


.tabbar {
	justify-content: center;
}

.tab-button {
	max-width: 200px;
	background: #1e4158;
	background: #29526d url('../assets/img/blue-grad.jpg') repeat-x ;
	background-size: auto 100%;
}


.tabs-md .tab-button .tab-button-icon {
	font-size: 1.2em;
	color: rgba(200, 200, 200, 1);
}

.tabs-md .tab-button {
	color: rgba(200, 200, 200, 1);
}

}