<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle >
      <ion-icon item-right name='menu'></ion-icon>
    </button>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mapStatus" padding>
  <div *ngIf="connectionStatus">
    <div #map id="map"></div>
  </div>
  <div *ngIf="!connectionStatus">
    <ion-grid class="grid-submit">
  		<ion-row>
  			<ion-col text-center>
  				<h1>No connection found</h1>
  			</ion-col>
  		</ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-content *ngIf="!mapStatus" padding>
  <ion-grid class="grid-submit">
		<ion-row>
			<ion-col text-center>
				<h1>Map not available.</h1>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
