// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:  rgba(255, 255, 255, 1),
// Former primary colour: #69859f
  secondary:  #1e4158,
  danger:     #f53d3d,
  light:      #346381,
  dark:       #0f2838,
  foodloop:   #8a7129,
  header: 	  #1e4158,
  whitish:    #fefefe,
  button-blue: #248ed0,
  light-grey: #9f9f9f,
  background-blue: #34688d,
);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$segment-button-md-font-size: .8em;
$segment-button-md-text-color-activated: rgba(255, 255, 255, 1);
$segment-button-md-border-bottom-width: 5px;
$segment-button-md-text-color: rgba(255, 255, 255, 1);
$segment-button-md-border-bottom-color: rgba(255, 255, 255, 1);

$text-input-placeholder-color: rgba(200, 200, 200, 1);
$text-input-placeholder-font: .2em;

$tabs-md-tab-color-active: rgba(255, 255, 255, 1);

$grid-padding-width: 2px;

// $alert-md-button-text-color: color($colors, primary);
$alert-md-background-color: color($colors, background-blue);
$alert-md-message-text-color: color($colors, primary);
$alert-md-input-text-color: color($colors, primary);
$alert-md-radio-label-text-color: darken(color($colors, primary), 30%);
$alert-md-radio-label-text-color-checked: color($colors, primary);
$alert-md-button-text-align: center;
$alert-md-button-group-justify-content: center;
// These two below should work but are not in 3.4.2
// $alert-md-button-padding-start: 20px;
// $alert-md-button-padding-end: 20px;
$alert-md-button-group-padding: 8px;
$alert-md-button-padding: 14px;
$alert-button-font-size: 18px;



$label-md-text-color: color($colors, primary);

$select-md-icon-color: color($colors, whitish);

// $picker-md-button-text-color: color($colors, secondary);
// $picker-md-option-selected-color: color($colors, button-blue);
$picker-md-background-color: color($colors, background-blue);

/*$segment-button-md-border-bottom-color-activated: #ff0000;*/
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
