// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
	background: #29526d url('../assets/img/blue-grad.jpg') repeat-x ;
	background-size: auto 100%;
}

.content-md {
	background: none;
}

ion-app.md {
	background: none;
}

.alert-md .alert-title {
  color: color($colors, primary);
}

.item-submit {
	font-size: 1.2em;
	color: rgba(255, 255, 255, .8);
	background: rgba(255, 255, 255, .5);
	margin: 1px auto 20px;
	width: 90%;
	border: 3px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
}

.button-submit {
	font-size: 1.1em;
	color: rgba(255, 255, 255, .8);
	margin: 5px auto;
	width: 90%;
	border: 3px solid rgba(255, 255, 255, .8);
	border-radius: 10px;
}

.grid-submit {
	margin-top: 20%;
}
