page-user{
	border-radius: 2dp;

	.simpleDashBoard{

	border-radius: 0dp;
	background: #29526d;
	height: 50%;
	
		.greetingRow{
			padding-top: 0px;
			height: 80%;
				.title{
					padding: 2%;
					font-size: 2em;
					color:white;	
				}
				.subhead{
					font-size: 1.5em;
					color: #eac55e;
				}
				ion-item{
					background-color: transparent;
				}
		}	

		.buttonNote{
			font-size: 1.5em;
			color: white;
			line-height: 1.8em;
		}

		.statusRow{
			
			.header{
				color: #eaac5e;
				font-size: 1em;
				text-align: center;
			}

			.bigContent{
				color: white;
				font-size: 2em;
				text-align: center;
			}		
		}

	}


	.cardHeader{
		background-color: orangered; 
		// height: 10%; 
		color:white; 
		font-size: 1.5em; 
		padding: 16%; 
	} 

	.cardContent{ 
		background: color($colors, primary);
		box-shadow: 0 4px 8px 0 rgba(30, 65, 88, .5);
		border-radius: 0px; /* 0px rounded corners */
	}
  
	.cardItem{
		padding: 0px;
		margin: 5% auto;
		min-width: 90%;
		border-bottom: 1px solid lightgray; 
		box-shadow: 0 4px 8px 0 rgba(30, 65, 88, .5);
		transition: 0.3s;
		border-radius: 5px;
		background-color: whitesmoke;
	  
		.cardItemHeader{
			background-color: #74a7b8;
			color: #efefef; 
			font-size: 1.1em;
			padding: 2%;
			text-align: center;
		}
	
		.cardItemContent{
			background-color: #efefef;
			color: #1e4158;
			font-size: 2em; 
			padding: 5%;
			text-align: center;  
		}

     
	}

	.pearUpCtrl{
		position: fixed;
		bottom: 10%; 
		left: 2%;
		right: 2%;
		border-radius: 5px;
		background-color: #fff;
		color: #666;
		border: 1px solid rgba(220, 220, 220, 1);
   
		button{
			background-color: #f5f5f5;
			color: #666;
			border: 1px solid rgba(220, 220, 220, 1);
			width: 120px;
			height: 120px;
			border-radius: 100%;
			margin: 5px auto;
			text-transform: none;
		}

		button:active{
			background-color: #efefef;
			color: white;
			box-shadow: 0px 4px 8px #74a7b8;
		}
	}

}