page-leaderboard{

  // display top three players in red

	.topThree{
        p{
			color: rgba(255, 100, 100, 1);
			font-weight: 700;
        }
    }

  .leaderboard-list{
    padding-left: 0px;
  }

  .leaderboard-item{
    padding-left: 16px;
  }

  // position list
	.listCtrl{
		ion-list{
			// margin: 0px;
			// background-color: rgba(255, 255, 255, .6);
      background: rgba(255, 255, 255, .5);
    	margin: 1px auto 20px;
    	border: 3px solid rgba(255, 255, 255, .8);
    	border-radius: 10px;
	  }
  }

  // Is this below here redundant???
  // // position icon
	// .pos{
	// 	margin-left:-30px;
	// }

  // display user in black and highlighted
	.user{
		background-color: red;
		font-weight: bold;
		color: green;

		p{
			font-weight: bold;
			color:black;
		}

	}

	.item-md {
		background: none;
	}

	.leaderboard-segment-button{
		color: rgba(200, 200, 255, 1);
	}
}
