<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle >
      <ion-icon item-right name='menu'></ion-icon>
    </button>
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>

    <ion-item>
      <ion-label>Leaderboard</ion-label>
      <ion-select  [(ngModel)]="listType" (ionChange)="changeLeaderboard($event)">
        <ion-option value="daily_total">
          Yesterday Total
        </ion-option>
        <ion-option value="daily_count">
          Yesterday Count
        </ion-option>
        <ion-option value="weekly_total">
          Last Week Total
        </ion-option>
        <ion-option value="weekly_count">
          Last Week Count
        </ion-option>
        <ion-option value="monthly_total">
          Last Month Total
        </ion-option>
        <ion-option value="monthly_count">
          Last Month Count
        </ion-option>
        <ion-option value="all_time_total">
          All Time Total
        </ion-option>
        <ion-option value="all_time_count">
          All Time Count
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="listCtrl">
      <ion-list>
        <ion-item [ngClass]="getClass(item)" *ngFor="let item of leaderboardData">
          <ion-grid>
            <ion-row class="leaderboard-list">
              <!-- Current Position -->
              <ion-col  width-10><p>{{ item.position }}<p></ion-col>
              <!-- Display position shift using different icon and color -->
              <ion-col width-20><ion-icon [color]="getTrendIconColor(item)" [name]="getTrendIcon(item)"></ion-icon></ion-col>
              <!-- Display name based current user -->
              <ion-col *ngIf="item.position == currentPos"  width-50> <p>You<p> </ion-col>
              <ion-col *ngIf="item.position != currentPos" width-50>{{ item.display_name }}</ion-col>
              <ion-col width-20>{{ listType.includes('total') ? (item.value  | currency:'GBP':true:'1.2-2') : (item.value | number:'1.0-0') }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
