<ion-header>
  <ion-toolbar color="header">
    <button ion-button menuToggle >
      <ion-icon item-right name='menu'></ion-icon>
    </button>
    <ion-title>
      League Tables
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div padding>

    <ion-label>Leaderboard</ion-label>
    <ion-select [(ngModel)]="listType" (ionChange)="changeLeaderboard($event)">
      <ion-option value="daily_total">
        Yesterday Total
      </ion-option>
      <ion-option value="daily_count">
        Yesterday Count
      </ion-option>
      <ion-option value="weekly_total">
        Last Week Total
      </ion-option>
      <ion-option value="weekly_count">
        Last Week Count
      </ion-option>
      <ion-option value="monthly_total">
        Last Month Total
      </ion-option>
      <ion-option value="monthly_count">
        Last Month Count
      </ion-option>
      <ion-option value="all_time_total">
        All Time Total
      </ion-option>
      <ion-option value="all_time_count">
        All Time Count
      </ion-option>
    </ion-select>

    <div class="listCtrl">
      <ion-list>
        <ion-item [ngClass]="getClass(item)" *ngFor="let item of rankingData">
          <ion-grid>
            <ion-row class="ranking-list">
              <!-- Current Position -->
              <ion-col  width-10><p>{{ item.position }}<p></ion-col>
              <!-- Display position shift using different icon and color -->
              <ion-col width-20><ion-icon [color]="getTrendIconColor(item)" [name]="getTrendIcon(item)"></ion-icon></ion-col>
              <!-- Display name based current user -->
              <ion-col *ngIf="item.position == currentPos"  width-50> <p>You<p> </ion-col>
              <ion-col *ngIf="item.position != currentPos" width-50>{{ item.display_name }}</ion-col>
              <ion-col width-20>{{ item.value }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
