page-stat {

	.cardHeader{
		background-color: none; 
		color:white; 
		font-size: 1.3em; 
		padding: 12px; 
	} 
   
	.blueCard{
		background-color: dodgerblue;
	}

	.purpleCard{
		background-color: mediumpurple;
	}

	.greenCard{
		background-color:yellowgreen;
	}

	.orangeCard{
		background-color:orange;
	}

	.tanCard{
		background-color:peru;
	}  

	.tealCard{
		background-color:teal;
	}
  
	.oliveCard{
		background-color:olive;
	}
  
	.cardContent{
		padding: 8px; 
		background-color: rgba(255, 255, 255, .6);
	}

  //  a card .cardItem consisted of 
  // header 
  // header right 
  // main .cardContent

	.cardItem{
		border-bottom: 1px solid rgba(230, 230, 230, 1); 
		margin: 0px 0px 10px 0px; 
		
		.cardItemHeader{
			background-color: none;
			color:black; 
			font-size: 1.1em;
		}

		.cardItemHeaderRight{
			float: right;
			color: black;
		}

		.cardItemContent{
			background-color: none;
			color:darkgray;
			font-size: 1.0em; 
			padding: 6px;
		}
   }
	.card-md{
		background: none;
		border: 3px solid rgba(255, 255, 255, .8);
		border-radius: 10px;
		width: 85%;
		margin: 20px auto;
	}
}
